---
// Import layouts
import Layout from "@layouts/Layout.astro";

// Import data
import getDevices from "@logic/build/getDevices.js";
import getOutdatedDevices from "@logic/build/outdatedDevices.js";

// Export pages list
export async function getStaticPaths() {
  const allDevices = await getDevices("get-all-devices");
  const devices = getOutdatedDevices(allDevices);
  return devices.map((device) => {
    return {
      params: {
        redirectpage: device.releases.current.deviceParam
      },
      props: {
        device: device
      }
    };
  });
}

// Get current device
const { device } = Astro.props;

const pageMeta = {
  title: device.name + " • Old Releases • Ubuntu Touch",
  meta: [
    {
      name: "keywords",
      content: device.seo
        ? device.seo.keywords
        : "Ubuntu Touch, " +
          device.name +
          ", Privacy phone, Linux smartphone, Linux on mobile"
    },
    {
      name: "description",
      content: device.seo
        ? device.seo.description
        : "Check old Ubuntu Touch releases for the " +
          device.name +
          ". The latest release does not currently support this device."
    },
    {
      property: "og:url",
      content: "https://devices.ubuntu-touch.io" + device.path
    },
    {
      property: "og:title",
      content: device.name + " • Old Releases • Ubuntu Touch"
    },
    {
      property: "og:description",
      content: device.seo
        ? device.seo.description
        : "Check old Ubuntu Touch releases for the " +
          device.name +
          ". The latest release does not currently support this device."
    }
  ]
};
---

<Layout pageMeta={pageMeta}>
  <!-- Heading -->
  <div id="deviceOverview" class="scrollspy heading mt-lg-5">
    <h6 class="bold mb-4">
      The {device.name} is not supported by the current Ubuntu Touch release.
    </h6>
  </div>

  <h1 class="h3 mt-5">What now?</h1>
  <ol>
    <li class="pt-4">
      If you are already using Ubuntu Touch, remember that ports are built by
      volunteers, so it may take some time for the device to get a new release.
      Follow the development and update when the release is available.
    </li>
    <li class="pt-2">
      For a more stable and up-to-date experience, check out the other devices
      in the list as well and get the one that best suits your needs.
    </li>
    <li class="pt-2">
      Check for development builds for your device, you may want to join the <a
        class="link"
        target="_blank"
        href="https://forums.ubports.com/"
        target="_blank">forum</a
      > or the {device.name} Telegram group (if available) to help test and report
      issues.
    </li>
    <li class="pt-2">
      If you have the skills, you can update the device port to the current
      release yourself and share it with the community. If you need help, check
      the <a
        class="link"
        target="_blank"
        href="https://docs.ubports.com/en/latest/porting/UpdatePortsFor2004.html"
        target="_blank">documentation</a
      > or ask nicely in the <a
        class="link"
        target="_blank"
        href="https://t.me/ubports_porting"
        target="_blank">porters group</a
      >.
    </li>
    <li class="pt-2">
      <p>
        You can also install a previous release; these releases will continue to
        work after new releases are added, but won't get updates, new features
        and security fixes.
      </p>
      <p class="pt-2">
        The following releases are available:
        {
          device.releases.all.map((release) => (
            <span class="badge badge-secondary h4 bold px-3 py-2 mx-2">
              <a href={release.path}>{release.prettyName}</a>
            </span>
          ))
        }
      </p>
    </li>
  </ol>
</Layout>
