// -----------------------------------------------------------------------------
// This file contains all styles related to the sidenav component.
// -----------------------------------------------------------------------------

.nav-menu {
  position: fixed;
  top: 90px;
  width: 200px;
  right: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-primary);
  border-top: 1px solid var(--border-primary);
  border-left: 1px solid var(--border-primary);
  z-index: 10;

  @media (max-width: 591.98px) {
    .hide-mobile {
      display: none;
    }
  }

  @media (max-width: 1299.98px) {
    width: 60px;
    height: 100vh;
    top: 0;
    padding-top: 110px;

    .nav {
      display: flex !important;
      flex-direction: column;
      row-gap: 30px;
    }

    a span {
      display: none;
    }
  }

  @media (max-width: 991.98px) {
    margin: 100px auto;
    padding-top: 20px;
    height: auto !important;
    top: 90px;

    .nav {
      display: flex !important;
      flex-direction: column;
      row-gap: 10px !important;
    }
  }

  ul {
    display: block;

    li {
      line-height: 2;

      img {
        display: inline;
        max-height: 1.2em;
        padding-right: 15px;
      }

      a {
        padding: 0;
        cursor: pointer;

        &.active {
          font-weight: 700;
          color: var(--text-highlight);
        }
      }
    }
  }
}
